<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="button" value="点我啊!!" @click="addItem">
        <ul>
            <li v-for="(item,index) in friends">
            {{index+1}}--{{item.name}}--{{item.skill}}
            </li>
        </ul>

        <ul>
            <li v-for="(item, index) in friends">
                {{index+1}}--{{item.name}}--{{item.skill}}
            </li>
        </ul>
    </div>
</body>
</html>
<script src="./lib/vue.js"></script>
<script>
    let app = new Vue({
        el:"#app",
        data:{
            friends:[
                {
                    name:"赵*天",
                    skill:"吃饭&&唱歌"
                },
                {
                    name:"招待费",
                    skill:"月的房价"
                }
            ]
        },
        methods:{
            addItem(){
                this.friends.push({
                    name:"屏蔽掉",
                    skill:"鲜花,化妆品,口红"
                })
            }
        }
    })
</script>
