<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
      img {
            width: 35px;
            height: 38px;
        }

        .boy {
            background-color: skyblue;
        }

        .girl {
            background-color: hotpink;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>知心小姐姐</h2>
        <!-- @keyup:enter="send" v-model="sendMessage" -->
        <input type="text" @keyup.enter="send" v-model="sendMessage">
        <ul>
            <li v-for="(item, index) in message" :class="item.icon=='./img/boy.png'?'boy':'girl'">
                <img :src="item.icon" alt="">
                <p>{{item.content}}</p>
            </li>
        </ul>
    </div>
</body>
</html>
<script src="./lib/vue.js"></script>
<script>
   let app = new Vue({
       el:'#app',
       data:{
           sendMessage:"",
           message:[
               {
                   icon:"./img/boy.png",
                   content:"dfda"
               },
               {
                   icon:"./img/girl.png",
                   content:"dfadf"
               }
           ]
       },
       methods:{
           send(){
               this.message.push({
                   icon:"./img/boy.png",
                   content:this.sendMessage
               })
               setTimeout(()=>{
                   this.message.push({
                       icon:"./img/girl.png",
                       content:"hehe"
                   })
               },1000)
           }
       }
   })
</script>

























<!-- //     let app = new Vue({
//         el:'#app',
//         data:{
//             // seendMessage:'',
//             sendMessage:'',
//             message:[
//                 {
//                     icon:'./img/boy.png',
//                     content:'丢雷'
//                 },
//                 {
//                     icon:'./img/girl.png',
//                     content:'丢雷'
//                 }
//             ]

//         },
//         methods:{
//             send(){
//                 this.message.push({
//                     icon:"./img/boy.png",
//                     // 2. 双向绑定
//                     content:this.sendMessage
//                 })
//                 setTimeout(() => {
//                     this.message.push({
//                         icon:'./img/girl.png',
//                         content:'搂母'
//                     })
//                 }, 1000);
//             }
//         }
//     }) -->